<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="detail-box">
            <div>
              <h1>
                WWORKOUT FROM <br>
                <span>
                  HOME AND GYM
                </span>
              </h1>
              <p>
                minuman tradisional Indonesia yang terbuat dari bahan alami seperti akar, 
                daun, rempah-rempah, dan tanaman herbal lainnya.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>